 body {
    margin: 0;
    padding: 0;
    background-image: url("images/background.png");
  }
  canvas {
    display:block;
    border:10px solid whitesmoke; 
    border-radius: 10px; 
    margin: auto;
    margin-top:10% ;
  }
  
  